<div class="about-us-container">

    <div class="parallax-video">
        <video autoplay muted loop>
            <!-- Provide the .mp4 version for broad compatibility -->
            <source src="https://storage.googleapis.com/48volts/ABOUT%20US/3e1b9ce5.mp4" type="video/mp4">
            <!-- .mov format as a fallback (less supported) -->
            <source src="https://storage.googleapis.com/48volts/ABOUT%20US/3e1b9ce5.mov" type="video/mov">
            Your browser does not support the video tag.
        </video>
    </div>

    <section class="hero-section audiowide-regular">
        <p>Our mission is to create meaningful experiences that resonate with your values and aspirations.</p>
    </section>




    <section class="value-proposition-section audiowide-regular">
        <h2>Why 48 Volts?</h2>
        <div class="value-proposition-grid">
            <div class="value-proposition service">
                <h3>Comprehensive Solutions</h3>
                <p>Streamlined AV and social media services.</p>
            </div>
            <div class="value-proposition service">
                <h3>Industry Expertise</h3>
                <p>Cutting-edge AV and media strategies.</p>
            </div>
            <div class="value-proposition service">
                <h3>Client-Focused</h3>
                <p>Tailored solutions for maximum impact.</p>
            </div>
        </div>
    </section>

    <!-- Transparent parallax section -->
    <div class="transparent-section"></div>

    <section class="value-proposition-section audiowide-regular">
        <h2>Our Vision</h2>
        <div class="value-proposition-grid">
            <div class="value-proposition service">
                <h3>Innovating Production</h3>
                <p>Pushing the boundaries of AV and media.
                </p>
            </div>
            <div class="value-proposition service ">
                <h3>Expanding Globally</h3>
                <p>Growing into new industries worldwide.
                </p>
            </div>
            <div class="value-proposition service">
                <h3>Long-Term Relationships</h3>
                <p>Building lasting partnerships.
                </p>
            </div>
        </div>
        
    </section>

    <div class="transparent-section"></div>

    <section class="join-us-section audiowide-regular">
        <h2>Join Us</h2>
        <p>Experience the 48 Volts difference. Contact us to collaborate or for more information. Together, we can electrify life's moments.</p>
        <div class="socials-section">
            <a href="https://www.youtube.com/channel/UCvRE08GJiIRpUG_X7vPJD7w" target="_blank"><i class="fab fa-youtube m-2"></i></a>
            <a href="https://www.instagram.com/48.volts" target="_blank"><i class="fab fa-instagram m-2"></i></a>
            <a href="https://www.twitter.com/48VOLTSX" target="_blank"><i class="fab fa-x-twitter m-2"></i></a>
            <a href="https://www.tiktok.com/@48.volts?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fab fa-tiktok m-2"></i></a>
            <a href="http://open.spotify.com/user/prz7jqb8dhy0vzb2krflzkh9u" target="_blank"><i class="fab fa-spotify m-2"></i></a>
            <a href="https://soundcloud.com/48vsound" target="_blank"><i class="fab fa-soundcloud m-2"></i></a>
            <a href="mailto:info@example.com"><i class="fas fa-envelope"></i></a>
          </div>
    </section>

</div>
