html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 2px;
    background: linear-gradient(to right, transparent 50%, #00ccff 50%);
    animation: electric-wire 4s infinite linear;
}

@keyframes electric-wire {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* About Us Container */
.about-us-container {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding: 0;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

/* Parallax Video */
.parallax-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.parallax-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Sections */
.hero-section, 
.services-section, 
.value-proposition-section, 
.join-us-section {
    position: relative;
    z-index: 2;
    padding: 75px 20px;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.hero-section {
    color: white;
    text-align: center;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #00ccff, 0 0 20px #ff00ff, 0 0 30px #00ccff;
    position: relative;
    z-index: 1;
    animation: glitch 1s infinite;
    padding: 10px;
    border: 4px solid #808080;
}

@media screen and (max-width: 767px) {
    .hero-section h1 {
        font-size: 24px;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #00ccff, -2px -2px #ff00ff;
    }
    25% {
        text-shadow: -2px 2px #00ccff, 2px -2px #ff00ff;
    }
    50% {
        text-shadow: -2px -2px #00ccff, 2px 2px #ff00ff;
    }
    75% {
        text-shadow: 2px -2px #00ccff, -2px 2px #ff00ff;
    }
    100% {
        text-shadow: 2px 2px #00ccff, -2px -2px #ff00ff;
    }
}

.hero-section p, 
.services-section p, 
.value-proposition-section p, 
.join-us-section p, 
.value-proposition-section li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.services-section h2, 
.value-proposition-section h2, 
.join-us-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #f890e7;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #00ccff, 0 0 30px #ff00ff;
    padding: 10px;
    border: 2px solid #ffffff;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.services-grid, .value-proposition-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.service, .value-proposition {
    flex: 1 1 calc(33% - 20px);
    background: #121212;
    padding: 20px;
}

.service h3, .value-proposition h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0bd3d3;
    text-align: left;
}

.value-proposition ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #d0d0d0;
    text-align: left;
}

.value-proposition li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.join-us-section {
    background: #121212;
}

.join-us-section p {
    font-size: 18px;
    color: #d0d0d0;
}

.transparent-section {
    height: 400px;
}
