<div [class.hero-container-shrunk]="isShrunk" class="hero-container">
    <video id="heroVideo" class="video" loop autoplay playsinline (canplay)="onCanPlay($event)" (loadedmetadata)="onLoadedMetadata($event)">
      <source src="https://storage.googleapis.com/48volts/LANDING%20PAGE/3751d1f815cd41e9af14446ce6b41171.mov" type="video/mp4">
    </video>
    <div class="hero-content text-center text-white">
      <section *ngIf="isShrunk" class="hero-section">
        <h1>Welcome to 48 Volts: Electrifying Life's Moments</h1>
    </section>
    </div>
    <div [class.hidden]="isShrunk" class="socials-section bottom mb-3">
        <a href="https://www.youtube.com/channel/UCvRE08GJiIRpUG_X7vPJD7w" target="_blank"><i class="fab fa-youtube m-2"></i></a>
        <a href="https://www.instagram.com/48.volts" target="_blank"><i class="fab fa-instagram m-2"></i></a>
        <a href="https://www.twitter.com/48VOLTSX" target="_blank"><i class="fab fa-x-twitter m-2"></i></a>
        <a href="https://www.tiktok.com/@48.volts?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fab fa-tiktok m-2"></i></a>
        <a href="http://open.spotify.com/user/prz7jqb8dhy0vzb2krflzkh9u" target="_blank"><i class="fab fa-spotify m-2"></i></a>
        <a href="https://soundcloud.com/48vsound" target="_blank"><i class="fab fa-soundcloud m-2"></i></a>
        <a href="mailto:info@example.com"><i class="fas fa-envelope"></i></a>
      </div>
  </div>
  