<div class="modal-container">
  
    <div class="item-container">
      <ng-container *ngIf="data.itemType === 'audio'">
        <!-- Audio Display -->
        <p>{{ data.items[currentIndex].title }}</p>
        <p>{{ data.items[currentIndex].artist }}</p>
        <audio controls [src]="data.items[currentIndex].url"></audio>
      </ng-container>
  
      <ng-container *ngIf="data.itemType === 'video'">
        <!-- Video Display -->
        <video controls [src]="data.items[currentIndex].url" width="100%" height="auto"></video>
      </ng-container>
  
      <ng-container *ngIf="data.itemType === 'image'">
        <!-- Image Display -->
        <img [src]="data.items[currentIndex]" alt="Slideshow Image" width="100%" height="auto">
      </ng-container>
    </div>
  

  </div>
  