<div class="carousel-container" style="position: relative;">
    <section class="hero-section">
        <h1>48 Games</h1>
        <p>Enjoy our collection of 48 movies. Click on any movie to start playing!</p>
    </section>

  <div id="movieCarousel-all" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <h2 class="movie-group">All Movies</h2>
      <div
        *ngFor="let movieGroup of groupedMovies; let i = index"
        class="carousel-item"
        [ngClass]="{'active': i === 0}"
      >
        <div class="row">
          <div class="col" *ngFor="let movie of movieGroup">
            <img [src]="movie.posterUrl" class="d-block" alt="{{ movie.title }}">
            <div class="carousel-caption">
              <h5>{{ movie.title }}</h5>
              <p>{{ movie.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel-all" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel-all" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
